{% extends "base.html.twig" %}

{% block title %}Bienvenue
{% endblock %}

{% block body %}
	<div class="container">
		<div class="mt-3">
			<h1 class="display-3">Bienvenue chez Speed Care</h1>
			<p class="lead">Le garage Speed Care fait en sorte de vous servir depuis plus de 40ans.
				<br>
				Un service de qualité, une volonté de faire au mieux et tout cela à un prix démocratique.
				<br>
				Bref, nous aimons notre métier!!!
			</p>
			<p class="lead">Vous avez un problème avec votre voiture, un contrôle technique, une réparation, nous sommes là...</p>
			<hr class="my-4">
			<div class="container mb-3">
				<img class="img-fluid img-thumbnail" src="{{ asset('images/porte-roulante-volet-roulant-utilisant-pour-entrepot-usine-generative-ai_91128-23831.jpg') }}">
			</div>
		</div>
	</div>
{% endblock %}
