.body {
    background-color: #af763a;
}

.logo {
    max-height: 50px;
}

.voiture-carroussel {
    width: 100px;
}

label {
    margin-bottom: 15px;
    margin-right: 5px;
}

.image-voiture-carousel {
    max-width: 150px;
    height: auto;
}

.carousel-item img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }



